<div class="container">
	Novo item
		<form action="/item/new" method="post" enctype="multipart/form-data">
			<p>Picture: <input type="file" name="image" /></p>
			<p>Title: <input type="text" name="title" /></p>
			<p>Description: <textarea rows="5" cols="80" name="description" /></textarea></p>
			<p>Price (R$): <input type="text" name="price" /></p>
        	<select name="category">
				<% @categories.each do |category| %>
				<option value=<%= category.id %>><%= category.name %></option>
				<% end %>
        	</select>
      		<p><input type="submit" name="submit" value="Upload" /></p>
      	</form>
</div>