<% count = 0 %>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <% if @categories then @categories.each do |category| %>
        <% count+=1 %>
        <% if count % 7 == 0 %>
        <!-- repeated navbar -->
      </ul>
    </div>
  </div>
</div><!-- /.navbar -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <% end %>
        <li <%= (category.permalink == @request.env["router.params"][:permalink] or (category.permalink == @item_category.permalink if @item_category)) ? 'class=active' : "" %>><a href="/items/<%= category.permalink %>"><%= category.name %></a></li>
        <% end %>
        <% if count % 7 == 0 %>
          </ul>
        <% end end %>
      </ul>
    </div>
  </div>
</div><!-- /.navbar -->
