<div class="masthead">
        <h3 class="muted">Bazar dos Kuhn - Alles muss raus!</h3>
        <h4 class="muted">Entrega em mãos nos bairros Vila Olímpia e Moema</h4>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li <%= @request.env["PATH_INFO"] == "/items" ? 'class="active"' : "" %>><a href="/items">Tudo</a></li>
                <% @categories.each do |category| %>
                <li <%= category.permalink == @request.env["router.params"][:permalink] ? 'class="active"' : "" %>><a href="/items/<%= category.permalink %>"><%= category.name %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>