<% count = 0 %>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class ="brand<%= @request.env["PATH_INFO"] == "/items" ? ' active' : "" %>"><a href="/items">Tudo</a></li>
        <% if @categories then @categories.each do |category| %>
        <% count+=1 %>
        <% if count % 6 == 0 %>
        <!-- repeated navbar -->
      </ul>
    </div>
  </div>
</div><!-- /.navbar -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <% end %>
        <li <%= category.permalink == @request.env["router.params"][:permalink] ? 'class=active' : "" %>><a href="/items/<%= category.permalink %>"><%= category.name %></a></li>
        <% end %>
        <% if count % 6 == 0 %>
      </ul>
      <% end end %>
    </div>
  </div>
</div><!-- /.navbar -->
